<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <title>Temperature controlled boiler thing of Maaaad</title>
    <!-- Michael made this -->
</head>
<body>
<form style="padding: 1em 1em 1em 1em" action="/" method="post">
  {% for day_set in data %}
    <h4>{{ day_set["day"] }}</h4>

    {% for period_set in day_set["periods"] %}
    <div class="row form-group">
        <div class="col-6">
            <input type="text" readonly class="form-control-plaintext" value="{{ period_set['period_name'] }}">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-5">
                    <input type="time" min="0:00" max="24:00" value="{{period_set['time']}}" required name="{{day_set['day']}}-{{period_set['period_name']}}-time">
                </div>
                <div class="col-2">
                    <span class="align-middle">to</span>
                </div>
                <div class="col-5">
                    <select class="form-control" name="{{day_set['day']}}-{{period_set['period_name']}}-target">
                        <option selected>{{period_set['target']}}</option>
                        {% for temp_level in temp_levels %}
                        <option>{{temp_level}}</option>
                        {% end %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    {% end %}

    {% end %}
    <input type="submit" value="Submit" />
</form>
</body>
</html>